body {
    background-color: #1b1b1b;
    font-family: 'Titillium Web', sans-serif;
    background: url(img/townDay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-family: 'Aclonica';font-size: 22px;
  }
  

  .interface h1 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #380505;
    padding: 12px 0 4px;
    font-family: 'Aclonica';font-size: 22px;
  }
 
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.interface {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.interface div {
  padding: 15px;
  max-width: 460px ;
  margin: 25px auto;
  box-shadow: 0 4px 10px 4px rgba(54, 136, 199, 0.3);
  transition: .5s ease;
  
}

.interface a:hover div {
  box-shadow: 0px 0px 40px 16px rgb(143, 60, 60);
}

.interface p {
  font-family: Aclonica;
  font-size: 17px;
  color: #020b0e;
  line-height: 20px;
  
}

